$colour-text: #e8eced;
$colour-light: #367096;
$colour-medium: #1B2838;
$colour-dark: #101822;

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template: auto auto auto / minmax(18rem,auto) auto minmax(0,5rem);
	background-color: $colour-dark;

	color: $colour-text;
	font: 100%/1.75 Arial, Helvetica, sans-serif;

	&::before {
		content: "";
		background-color: $colour-medium;
		grid-area: 3/4/-3/-2;
	}
}

h1,
h2 {
	margin: 0;
}

a:link,
a:visited {
	color: $colour-text;
}

a:hover {
	color: lighten($colour-light, 25%);
}

a:active {
	color: $colour-light;
}

#form,
#description {
	padding: 3rem;
}

#form {
	grid-area: 1/2/-1/-2;
}

#description {
	grid-area: 2/1/-2/2;
}

@import "form";
@import "description";